M.3.1.Task_Aliaksandr_Khatsko/MSTestPrj/MSTestPrj/obj/Debug/
M.3.1.Task_Aliaksandr_Khatsko/MSTestPrj/MSTestPrj/bin/Debug/
M.3.1.Task_Aliaksandr_Khatsko/MSTestPrj/ClassLibrary1/obj/Debug/
M.3.1.Task_Aliaksandr_Khatsko/MSTestPrj/ClassLibrary1/bin/Debug/
M.2.1.Task_Aliaksandr_Khatsko/File_for_commits1.txt
M.2.1.Task_Aliaksandr_Khatsko/File_for_commits2.txt
M.2.1.Task_Aliaksandr_Khatsko/M.2.1.Task_Aliaksandr_Khatsko.docx
M.2.2.Task_Aliaksandr_Khatsko/M.2.2.Task_CI_Aliaksandr_Khatsko.docx
M.2.2.Task_Aliaksandr_Khatsko/~$2.2.Task_CI_Aliaksandr_Khatsko.docx
M.2.2.Task_Aliaksandr_Khatsko/~WRL0003.tmp
M.2.2.Task_Aliaksandr_Khatsko/~WRL0004.tmp
M.4.1.Task_Aliaksandr_Khatsko/SeleniumWebDriver/SeleniumWebDriver/obj/Debug/TempPE/LogInDetails.Designer.cs.dll
M.4.1.Task_Aliaksandr_Khatsko/SeleniumWebDriver/SeleniumWebDriver/obj/Debug/
M.4.1.Task_Aliaksandr_Khatsko/SeleniumWebDriver/SeleniumWebDriver/bin/Debug/
M.4.2.Task_Aliaksandr_Khatsko/SeleniumWebDriver/SeleniumWebDriver/obj/Debug/
M.4.2.Task_Aliaksandr_Khatsko/SeleniumWebDriver/SeleniumWebDriver/bin/Debug/
M.4.3.Task_Aliaksandr_Khatsko/SeleniumWebDriver/SeleniumWebDriver/obj/Debug/
M.4.3.Task_Aliaksandr_Khatsko/SeleniumWebDriver/SeleniumWebDriver/bin/Debug/
M.5.1.Task_Aliaksandr_Khatsko/SeleniumWebDriver/SeleniumWebDriver/obj/Debug/
M.5.1.Task_Aliaksandr_Khatsko/SeleniumWebDriver/SeleniumWebDriver/bin/Debug/
M.5.2.Task_Aliaksandr_Khatsko/SeleniumWebDriver/SeleniumWebDriver/bin/Debug/
M.5.2.Task_Aliaksandr_Khatsko/SeleniumWebDriver/SeleniumWebDriver/obj/Debug/
M.5.3.Task_Aliaksandr_Khatsko/BDD_SpecFlow/BDD_SpecFlow/bin/Debug/
M.5.3.Task_Aliaksandr_Khatsko/BDD_SpecFlow/BDD_SpecFlow/obj/Debug/
M.6.1.Task_Aliaksandr_Khatsko/BDD_SpecFlow/BDD_SpecFlow/bin/Debug/
M.6.1.Task_Aliaksandr_Khatsko/BDD_SpecFlow/BDD_SpecFlow/obj/Debug/
