<?xml version="1.0"?>
<configuration>
  <appSettings>
      <add key="qaVendorCompanyID" value="test"/>
      <add key="qaVendorUserID" value="test"/>
      <add key="qaVendorPassword" value="test"/>
      <add key="qaVendorURL" value="https://test.com"/>
      <add key="merckCompanyID" value="test"/>
      <add key="merckUserID" value="test"/>
      <add key="merckPassword" value="test"/>
      <add key="merckURL" value="https://test.com"/>
    
  </appSettings>
  <uri></uri>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
